<ul class="sidebar-nav">
    <li><a href="/"> Home </a></li>

    <li class="count"><a href="/players"> Players </a></li>

    <li class="count"><a href="/clubs"> Clubs </a></li>

    <li class="count"><a href="/positions"> Positions </a></li>

    <li class="count"><a href="/countries"> Countries </a></li>

    <li class="count"><a href="/test"> Test page </a></li>

    <hr />

    <li><a href="/players/create"> Add a player </a></li>

    <li><a href="/clubs/create"> Add a club </a></li>

    <li><a href="/positions/create"> Add a position </a></li>

    <li><a href="/countries/create"> Add a country </a></li>
</ul>